<div class="col-bg">
  <center>
    <%= image_tag "hue.png", class:"imagesizetest img-responsive"%>


    <table align="left">
        <tr>
          <td> <%= image_tag "hue-icon.png", class:"imagesizetest img-icn"%> &nbsp;&nbsp;</td>
          <td> <h3> Hue </h3> </td>
        </tr>
    </table>
    <br>
    <br>
    <br>



    <p> I installed Philips Hue in my room and being able to change the lighting from my phone is convenient. Having a WatchApp would be much more convenient. I could turn on/off the lights or change its color, all from my wrist. </p>
  </center>
</div> <!-- Hue Div -->
