<div class="col-bg">
  <center>
    <%= image_tag "hue.png", class:"imagesizetest img-responsive"%>

    <h3> Hue </h3>
    <p> Philips Hue has been one of my favorite purchases. I installed the kit in my room and being able to change the lighting/colors from my phone is incredibly convenient. Having a Hue WatchApp would be even better. With a tap on my wrist, I can turn on/off the lights in my room or even change its color. </p>
  </center>
</div> <!-- Hue Div -->
