<div class="col-bg">
  <center>
    <%= image_tag "keypress.png", class:"imagesizetest img-responsive"%>


    <table align="left">
        <tr>
          <td> <%= image_tag "keypress-icon.png", class:"imagesizetest img-icn"%> &nbsp;&nbsp;</td>
          <td> <h3> KeyPress </h3> </td>
        </tr>
    </table>
    <br>
    <br>
    <br>



    <p> A few days ago, I discovered an app that allows you to unlock your Mac using Touch ID. I usually hate apps like these because there’s a delay between them, but this one is super quick and simple to use. </p>
  </center>
</div> <!-- Trello Div -->
