<div class="col-bg">
  <center>
    <%= image_tag "trello.png", class:"imagesizetest img-responsive"%>


    <table align="left">
        <tr>
          <td> <%= image_tag "trello-icon.png", class:"imagesizetest img-icn"%> &nbsp;&nbsp;</td>
          <td> <h3> Trello </h3> </td>
        </tr>
    </table>
    <br>
    <br>
    <br>



    <p> When I joined The Iron Yard Academy, I was introduced to Trello. It’s a great application that helps you manage tasks and stay up to date with them. I made a concept of what I’d love the push notifications to look like. </p>
  </center>
</div> <!-- Trello Div -->
