<div class="col-bg">
  <center>
    <%= image_tag "waze.png", class:"imagesizetest img-responsive"%>



<table align="left">
    <tr>
      <td> <%= image_tag "waze-icon.png", class:"imagesizetest img-icn"%> &nbsp;&nbsp;</td>
      <td> <h3> Waze </h3> </td>
    </tr>
</table>
<br>
<br>
<br>

    <p> I've been using waze for some time, mainly to find shortcuts in order to get to work more quickly. I also use it to check for hazards ahead, and report of hazards I see. This is my concept of Waze for Apple Watch. </p>
  </center>
</div> <!-- Waze Div -->
