<div class="container">

  <center>
  <h1>Watch App Ideas</h1>
  <h5>Ideas of my favorite iOS Apps for &#63743;Watch</h5>
  </center>

<div class="col-md-12 img-responsive">
  <!--  col-md-4 -->

  <table class="table stupidtableborder" style="border-top: 1px solid #dd040e;">

  <tr>
    <td> <%= render partial: "home/waze" %> </td>
    <td> <%= render partial: "home/hue" %> </td>
    <td> <%= render partial: "home/trello" %> </td>
  </tr>

  <tr>
    <td> <%= render partial: "home/keypress" %> </td>

  </tr>

</table>
</div>

</div> <!--Container Div-->
