@import "bootstrap-sprockets";
@import "bootstrap";



h1,
h2,
h5,
p,
a {
  color: #333;
  font-style: normal;
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";

}

p{
  width:20em;
  text-align:left;
}


.imagesizetest{
  width: 28em;
}

.col-bg{
  background-color: #f2f2f2;
  padding: 30px 30px 30px 30px;

}



// padding:10px 5px 15px 20px;
// top padding is 10px
// right padding is 5px
// bottom padding is 15px
// left padding is 20px
