@import "bootstrap-sprockets";
@import "bootstrap";



h1,
h2,
h5,
p,
a {
  color: #333;
  font-style: normal;
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";

}

p{
  width:20em;
  text-align:left;
}


.imagesizetest{
  width: 28em;
}

.col-bg{
  background-color: #f2f2f2;
  padding: 30px 30px 30px 30px;

}


.img-icn{
  background-repeat: no-repeat;
  background-size: 2.750em 2.750em;
  height: 2.750em;
  width: 2.750em;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
border: none;
}
